header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    background-color: #31363F;
    color: white;
    box-shadow: inset 0 -4px 4px #FF1E1E;
}

header img{
    width: 10vh;
    height: 10vh;
    box-shadow: 0 4px 10px #FF1E1E;
}

header h1{
    font-size: 3.2em;
    text-shadow: 2px 4px 4px #FF1E1E;
}

